<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar text-light bg-primary">
        <a class="navbar-brand text-light" href="/"><h2>DissTest</h2></a>
        {% if current_user.is_authenticated %}
        <p class="navbar-brand">
            {{current_user.name}}
            <a href="/logout">
                <img src="{{ url_for('static', filename='images/out.png') }}" height="45"/>
            </a>
        </p>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<br>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
{% if request.path != '/' %}
<footer>
    <nav class="navbar text-light bg-primary">
    <a class="navbar-brand text-light" href="/">На главную</a>
    </nav>
</footer>
{% endif %}
</html>