{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1 class="text-primary">Мои опросы</h1>
        <br>
        {% for item in polls%}
            <div class="card border-primary bg-light mb-3" style="width: 69rem;">
              <div class="card-body">
                <h3 class="card-title fw-bold text-secondary"><a href="/poll/{{item.id}}">{{item.title}}</a></h3>
                  <p></p><a href="/poll_publish/{{item.id}}" class="btn btn-primary btn-sm">
                                    {% if item.ref %}
                                        снять с публиикации
                                   {% else %}
                                        опубликовать
                                    {% endif %}
                  </a>
                   {% if item.ref %}
                  &emsp;&emsp;<a href={{item.ref}} target="_blank">{{item.ref}}</a>
                   {% endif %}
                  </p>
                  <p><a href="/poll_delete/{{ item.id }}" class="btn btn-outline-secondary btn-sm">удалить</a></p>
              </div>
            </div>
        {% endfor %}
        <br><br><br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p class="text-danger">{{message}}</p>
            <h4 class="text-primary">{{ form.title.label }}</h4>
            <p>{{ form.title(class="form-control") }}</p>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    {% else %}
        <h2 class="text-primary text-center">DissTest поможет создавать и проводить свои опросы</h2>
        <br>
        <h3 class="text-secondary text-center"><a href="/register">Зарегистрируйтесь</a> чтобы начать</h3>
        <br>
        <h3 class="text-secondary text-center"><a href="/login">Авторизуйтесь</a> чтобы продолжить</h3>
    {% endif %}
{% endblock %}