{% extends "base.html" %}
{% block content %}
    {% if poll %}
        <h1 class="text-primary">{{poll.title}}</h1>
        {% for item in questions%}
            <div class="card border-primary bg-light mb-3" style="width: 69rem;">
              <div class="card-body">
                <h5 class="card-title fw-bold text-secondary">{{item.text}}</h5>
                  <table class="table">
                  {% for answer in item.answers %}
                      <tr>
                          <td class="col-md-8">
                        {% if answer.right %}
                              {% if item.type.name == 'С одним ответом' %}
                                &#10004;
                              {% else %}
                                &#10003;
                              {% endif %}
                        {% else %}
                            &emsp;
                        {% endif %}
                        {{ answer.text }}
                          </td>
                          <td class="col-md-2">
                               <a href="/answer_change/{{poll.id}}/{{item.id}}/{{answer.id}}" class="btn btn-outline-secondary btn-sm">
                                    {% if answer.right %}
                                        сделать неверным
                                   {% else %}
                                         сделать верным
                                    {% endif %}
                               </a>
                          </td>
                          <td class="col-md-2">
                               <a href="/answer_delete/{{poll.id}}/{{item.id}}/{{answer.id}}" class="btn btn-outline-secondary btn-sm">удалить ответ</a>
                          </td>
                      </tr>
                  {% endfor %}
                  </table>
                  {% if item.type.name != 'Без ответов' %}
                       <form name = answer action="" method="post">
                        {{ form[1].hidden_tag() }}
                           {{ form[1].id(hidden=True, value='answer') }}
                           {{ form[1].question(hidden=True, value=item.id) }}
                           {% if message[0] == 'a' and message[1] == item.id %}
                                <p class="text-warning">{{ message[2] }}</p>
                           {% endif %}
                        {{ form[1].text(class="form-control") }}
                         {% for error in form[1].text.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                            <table>
                                <tr>
                                    <td> {{ form[1].right(class="form-control") }} </td>
                                    <td>{{ form[1].right.label }}</td>
                                </tr>
                            </table>
                        {{ form[1].submit(type="submit", class="btn btn-primary btn-sm") }}
                       </form>
                  {% endif %}
                <br>
                 <p> <a href="/question_delete/{{poll.id}}/{{ item.id }}" class="btn btn-outline-secondary btn-sm">Удалить вопрос</a>
                  <a href="/question_locate/{{poll.id}}/{{ item.id }}/up" class="btn btn-outline-secondary btn-sm">Выше</a>
                  <a href="/question_locate/{{poll.id}}/{{ item.id }}/down" class="btn btn-outline-secondary btn-sm">Ниже</a></p>
              </div>
            </div>
        {% endfor %}
            <form action="" method="post">
                 {{ form[0].id(hidden=True, value='question') }}
                {{ form[0].hidden_tag() }}
                {% if message[0] == 'q' %}
                    <p class="text-warning">{{ message[2] }}</p>
                {% endif %}
                 <h4 class="text-primary">{{ form[0].text.label }}</h4>
                <p> {{ form[0].text(class="form-control") }} </p>
                 {% for error in form[0].text.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}

                {{ form[0].type }}
                <p> {{ form[0].submit(type="submit", class="btn btn-primary") }} </p>
            </form>
    {% endif %}
{% endblock %}
