{% extends "base.html" %}
{% block content %}
    {% if poll %}
        <h1 class="text-primary">{{poll.title}}</h1>
            <form action="/test/{{poll.id}}" method="post">
                 {{ form.id(hidden=True) }}
                {{ form.hidden_tag() }}
                {% for item in questions%}
                    <div class="card border-primary bg-light mb-3" style="width: 69rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-secondary">{{item.question}}</h5>
<!--                        TODO убрать маркеры в списке-->
                        <ul class="list-unstyled">
                            {% if item.many_answer %}
                        {{ item.many_answer }}
                            {% elif item.one_answer %}
                            {{ item.one_answer }}
                            {% endif %}
                        </ul>
                    {% for error in item.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                    </div>
                    </div>
                {% endfor %}
<!--                {% for item in form.no_questions%}-->
<!--                    <div class="card border-primary bg-light mb-3" style="width: 69rem;">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title fw-bold text-secondary">{{item.question}}</h5>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--                {% for item in form.one_questions%}-->
<!--                    <div class="card border-primary bg-light mb-3" style="width: 69rem;">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title fw-bold text-secondary">{{item.question}}</h5>-->
<!--&lt;!&ndash;                        TODO убрать маркеры в списке&ndash;&gt;-->
<!--                        <ul class="list-unstyled">-->
<!--                        {{ item.one_answer }}-->
<!--                        </ul>-->
<!--                    {% for error in item.errors %}-->
<!--                        <p class="alert alert-danger" role="alert">-->
<!--                            {{ error }}-->
<!--                        </p>-->
<!--                    {% endfor %}-->
<!--                    </div>-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--                {% for item in form.many_questions%}-->
<!--                    <div class="card border-primary bg-light mb-3" style="width: 69rem;">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title fw-bold text-secondary">{{item.question}}</h5>-->
<!--&lt;!&ndash;                        TODO убрать маркеры в списке&ndash;&gt;-->
<!--                        <ul class="list-unstyled">-->
<!--                        {{ item.many_answer }}-->
<!--                        </ul>-->
<!--                    {% for error in item.errors %}-->
<!--                        <p class="alert alert-danger" role="alert">-->
<!--                            {{ error }}-->
<!--                        </p>-->
<!--                    {% endfor %}-->
<!--                    </div>-->
<!--                    </div>-->
<!--                {% endfor %}-->
                <p> {{form.submit}} </p>
            </form>
    {% endif %}
{% endblock %}
