<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<main role="main" class="container">
        {% if poll %}
    <br>
        <h1 class="text-primary" align="center">{{poll.title}}</h1>
            <form action="/test/{{poll.id}}" method="post">
                 {{ form.id(hidden=True) }}
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="alert alert-danger" role="alert"> {{ message }} </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% for item in questions%}
                   {{ item.num(hidden=True) }}
                    {% if item.errors %}
                        <div class="card border-danger bg-light mb-3">
                    {% else %}
                        <div class="card border-primary bg-light mb-3">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-secondary">{{item.question}}</h5>
<!--                        TODO убрать маркеры в списке-->
                        <ul class="list-unstyled">
                            {% if item.many_answer %}
                                {{ item.many_answer }}
                            {% elif item.one_answer %}
                                {{ item.one_answer }}
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                {% endfor %}
                <div class="d-grid gap-2 col-4 mx-auto">
                    <p> {{form.submit(type="submit", class="btn btn-primary") }} </p>
                </div>
            </form>
    {% endif %}
</main>
</body>
</html>
