<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Спасибо</title>
</head>
<body>
    <br><br><br>
    <h2 class="text-primary text-center">Ваши ответы приняты.</h2>
    <br><br>
    <h2 class="text-primary text-center">Благодарим за помощь в проводимом исследовании!</h2>
</body>
</html>